.text-counter {
    background-color: transparent;
    float: right;
    white-space: pre-wrap;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;
    color: #1f1f1f;
}

div.field_text_count {
    white-space: pre-wrap;
}
